<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<html>
<head>
  <title>SoundCrowd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<h1>SoundCrowd!</h1>
	</nav>
  <% if session[:user_id] %>
    <%= link_to "Sign-out", session_path(session[:user_id]), method: :delete%><br><br>
  <% end %>
<%= yield %>

</body>
</html>
