<!DOCTYPE html>
<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<html>
<head>
  <title>SoundCrowd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="navigation">
    <div class="menu-wrapper">
       <img src="https://raw.github.com/Magnus-G/Random/master/placeholder_logo_1.png" alt="">
       <h2 class="logo"><%= link_to 'SoundCrowd', users_path %></h2>
      <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
      <div class="nav">
        <ul id="navigation-menu">
          <% if session[:user_id] %>
            <li class="nav-link"><%= link_to 'Profile', root_path %></li>
            <li class="nav-link"><%= link_to "Sign-In", signin_path(session[:user_id])%></li>
          <% else %>
            <li class="nav-link"><%= link_to "Sign-In", signin_path(session[:user_id])%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </header>
<%= yield %>

</body>

<script>
  $(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');
    var signUp = $('.sign-up');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });

   
 // underline under the active nav item
    $(".nav .nav-link").click(function() {
      $(".nav .nav-link").each(function() {
        $(this).removeClass("active-nav-item");
      });
      $(this).addClass("active-nav-item"); 
      $(".nav .more").removeClass("active-nav-item");
    });
  });
</script>
</html>
